In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving prices.csv to prices (1).csv
Saving sales.csv to sales (1).csv

In [ ]:
prices= pd.read_csv('prices.csv')
print(prices)

    product_id  old_price  new_price     updated_at
0           64     270000     239000  9/10/18 16:37
1      3954203      60000      64000  9/11/18 11:54
2      3954203      60500      57500  9/17/18 22:59
3      3954203      64000      60500   9/15/18 3:49
4      3954203      68800      60000  9/10/18 16:32
5      3998909      15500      16500   9/16/18 5:09
6      3998909      17000      15500   9/13/18 6:43
7      3998909      19000      17000  9/10/18 16:35
8      4085861      53500      52000  9/17/18 22:59
9      4085861      53500      67000   9/12/18 3:51
10     4085861      58000      53500   9/17/18 3:35
11     4085861      60000      53500   9/11/18 8:51
12     4085861      62500      58000   9/15/18 3:51
13     4085861      67000      62500   9/13/18 6:43

In [ ]:
sales= pd.read_csv('sales.csv')
print(sales.head(15))

    product_id     ordered_at  quantity_ordered
0      3998909  9/18/18 17:51                 1
1      3998909  9/18/18 12:52                 1
2      3998909  9/18/18 11:33                 1
3      3998909  9/18/18 18:47                 1
4      3998909  9/18/18 17:36                 1
5      3998909  9/17/18 19:09                 1
6      3998909  9/18/18 16:02                 1
7      3998909  9/17/18 22:29                 1
8      3998909  9/18/18 19:46                 2
9      3998909  9/18/18 11:02                 1
10     3998909  9/18/18 17:43                 1
11     3998909  9/18/18 22:11                 1
12     3998909  9/17/18 17:34                 1
13     3954203  9/11/18 13:32                 1
14     3954203  9/11/18 17:00                 1

In [ ]:
sales.info()
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        175 non-null    int64
 1   ordered_at        175 non-null    object
 2   quantity_ordered  175 non-null    int64
dtypes: int64(2), object(1)
memory usage: 4.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  14 non-null     int64
 1   old_price   14 non-null     int64
 2   new_price   14 non-null     int64
 3   updated_at  14 non-null     object
dtypes: int64(3), object(1)
memory usage: 576.0+ bytes

In [ ]:
# change data type of dataframe
sales['ordered_at'] = pd.to_datetime(sales['ordered_at'])
prices['updated_at'] = pd.to_datetime(prices['updated_at'])

In [ ]:
sales.info()
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        175 non-null    int64
 1   ordered_at        175 non-null    datetime64[ns]
 2   quantity_ordered  175 non-null    int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  14 non-null     int64
 1   old_price   14 non-null     int64
 2   new_price   14 non-null     int64
 3   updated_at  14 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 576.0 bytes

In [ ]:
sales= sales.sort_values('ordered_at')
prices=prices.sort_values('updated_at',)

In [ ]:
sale_price=pd.merge_asof(sales, prices,
                         by='product_id',
                         left_on='ordered_at',
                         right_on='updated_at',
                         direction='nearest')
sale_price

,product_id,ordered_at,quantity_ordered,old_price,new_price,updated_at
0,3954203,2018-09-11 01:43:00,1,68800,60000,2018-09-10 16:32:00
1,4085861,2018-09-11 06:26:00,1,60000,53500,2018-09-11 08:51:00
2,4085861,2018-09-11 06:53:00,1,60000,53500,2018-09-11 08:51:00
3,4085861,2018-09-11 08:24:00,1,60000,53500,2018-09-11 08:51:00
4,4085861,2018-09-11 09:30:00,1,60000,53500,2018-09-11 08:51:00
...,...,...,...,...,...,...
170,4085861,2018-09-18 20:23:00,1,53500,52000,2018-09-17 22:59:00
171,4085861,2018-09-18 20:43:00,1,53500,52000,2018-09-17 22:59:00
172,4085861,2018-09-18 20:54:00,1,53500,52000,2018-09-17 22:59:00
173,3954203,2018-09-18 21:26:00,1,60500,57500,2018-09-17 22:59:00
174,3998909,2018-09-18 22:11:00,1,15500,16500,2018-09-16 05:09:00

In [ ]:
#  Create condition
conditions=[sale_price['ordered_at']>= sale_price['updated_at'],
           sale_price['ordered_at']< sale_price['updated_at']]
results=[sale_price['new_price'],sale_price['old_price']]

# create new column called final_price which is price that customer actually had to pay when they ordered

sale_price['final_price']=np.select(conditions, results)
sale_price

,product_id,ordered_at,quantity_ordered,old_price,new_price,updated_at,final_price
0,3954203,2018-09-11 01:43:00,1,68800,60000,2018-09-10 16:32:00,60000
1,4085861,2018-09-11 06:26:00,1,60000,53500,2018-09-11 08:51:00,60000
2,4085861,2018-09-11 06:53:00,1,60000,53500,2018-09-11 08:51:00,60000
3,4085861,2018-09-11 08:24:00,1,60000,53500,2018-09-11 08:51:00,60000
4,4085861,2018-09-11 09:30:00,1,60000,53500,2018-09-11 08:51:00,53500
...,...,...,...,...,...,...,...
170,4085861,2018-09-18 20:23:00,1,53500,52000,2018-09-17 22:59:00,52000
171,4085861,2018-09-18 20:43:00,1,53500,52000,2018-09-17 22:59:00,52000
172,4085861,2018-09-18 20:54:00,1,53500,52000,2018-09-17 22:59:00,52000
173,3954203,2018-09-18 21:26:00,1,60500,57500,2018-09-17 22:59:00,57500
174,3998909,2018-09-18 22:11:00,1,15500,16500,2018-09-16 05:09:00,16500

In [ ]:
# create new column called "revenue" which calculate revenue of each product base on time that product had been ordered

sale_price['revenue']= sale_price['final_price']*sale_price['quantity_ordered']
sale_price

,product_id,ordered_at,quantity_ordered,old_price,new_price,updated_at,final_price,revenue
0,3954203,2018-09-11 01:43:00,1,68800,60000,2018-09-10 16:32:00,60000,60000
1,4085861,2018-09-11 06:26:00,1,60000,53500,2018-09-11 08:51:00,60000,60000
2,4085861,2018-09-11 06:53:00,1,60000,53500,2018-09-11 08:51:00,60000,60000
3,4085861,2018-09-11 08:24:00,1,60000,53500,2018-09-11 08:51:00,60000,60000
4,4085861,2018-09-11 09:30:00,1,60000,53500,2018-09-11 08:51:00,53500,53500
...,...,...,...,...,...,...,...,...
170,4085861,2018-09-18 20:23:00,1,53500,52000,2018-09-17 22:59:00,52000,52000
171,4085861,2018-09-18 20:43:00,1,53500,52000,2018-09-17 22:59:00,52000,52000
172,4085861,2018-09-18 20:54:00,1,53500,52000,2018-09-17 22:59:00,52000,52000
173,3954203,2018-09-18 21:26:00,1,60500,57500,2018-09-17 22:59:00,57500,57500
174,3998909,2018-09-18 22:11:00,1,15500,16500,2018-09-16 05:09:00,16500,16500

In [ ]:
# Calculate  total revenue by product_id
sale_price.groupby(['product_id']).agg({'revenue':'sum'})

            revenue
product_id
64           956000
3954203      877500
3998909      280500
4085861     8247500

In [ ]:
# Calculate  revenue by product_id and final_price
sale_price.groupby(['product_id','final_price']).agg({'revenue':'sum'})

                        revenue
product_id final_price
64         239000        956000
3954203    57500          57500
           60000         180000
           64000         640000
3998909    15500          15500
           16500         231000
           17000          34000
4085861    52000        1040000
           53500        2140000
           58000        2204000
           60000         180000
           62500        1812500
           67000         871000